# OS
.DS_Store
Thumbs.db

# Java build outputs
bin/
out/
build/
target/
*.class
*.jar
*.war
*.ear

# Gradle/Maven caches
.gradle/
.mvn/
mvnw.cmd
mvnw

# IDEs
.idea/
*.iml
.vscode/

# Logs and dumps
logs/
*.log
hs_err_pid*.log
replay_pid*.log

# Temporary files
*.swp
*.swo
~$*
*.tmp

